<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lavella – Tour & Travel Agency Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('front/css/styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('front/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('front/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('front/img/favicons/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('front/img/favicons/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('front/img/favicons/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('front/img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('front/img/favicons/favicon.ico') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="#000" name="msapplication-TileColor">
    <meta content="#000" name="theme-color">
</head>

<body>
<div class="container">
    <div class="header">
        <div class="wrap">
            <div class="wrap_float">
                <div class="header__top">
                    <div class="tel">
                        <a href="tel:0000000000">+1 1235 6789 10</a>
                    </div>
                    <div class="email">
                        <a href="mailto:info@hellodigi.ru">info@hellodigi.ru</a>
                    </div>
                    <div class="socials">
                        <a href="#" class="a facebook"></a>
                        <a href="#" class="a instagram"></a>
                        <a href="#" class="a pinterest"></a>
                        <a href="#" class="a twitter"></a>
                    </div>
                </div>
                <div class="header__bottom">
                    <a href="/" class="logo">lavella</a>
                    <div class="menu" id="js-menu">
                        <div class="close"></div>
                        <div class="scroll">
                            <a class="current">Home</a>
                            <div class="scroll_wrap">
                                <ul>
                                    <li><a href="/" class="active">Home</a></li>
                                    <li class="dropdown_li">
                                        <a href="#">
                                            <span>Pages</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li class="dropdown_li">
                                                    <a href="#">
                                                        <span>Search</span>
                                                    </a>
                                                    <div class="submenu">
                                                        <ul>
                                                            <li><a href="search-results.html">Search results</a></li>
                                                            <li><a href="search-results-not-found.html">No results</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="contacts.html">Contact</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="coming-soon.html">Coming soon</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown_li">
                                        <a href="tour-list.html">
                                            <span>Tour List</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="tour-list.html">Tour List</a></li>
                                                <li><a href="tour-list-2.html">Tour List 2</a></li>
                                                <li><a href="tour-list-3.html">Tour List 3</a></li>
                                                <li><a href="tour-list-4.html">Tour List 4</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="destinations.html">Destinations</a></li>
                                    <li class="dropdown_li">
                                        <a href="single.html">
                                            <span>Tour Page</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="single.html">Tour Page</a></li>
                                                <li><a href="single-dark.html">Tour Page Dark</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown_li">
                                        <a href="blog-list.html">
                                            <span>Blog</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="blog-list.html">Blog</a></li>
                                                <li><a href="blog-list-2.html">Blog 2</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <div class="tel">
                                    <a href="tel:+11235678910">+1 1235 6789 10</a>
                                </div>
                                <div class="email">
                                    <a href="mailto:info@hellodigi.ru">info@hellodigi.ru</a>
                                </div>
                                <div class="socials">
                                    <div class="links">
                                        <a href="#" class="fb"></a>
                                        <a href="#" class="instagram"></a>
                                        <a href="#" class="pinterest"></a>
                                        <a href="#" class="twitter"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_link" id="search_link"></div>
                    <div class="mobile_btn" id="mobile_btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage_slider">
        <div class="slider-container">
            <div class="slider-control left inactive"></div>
            <div class="slider-control right"></div>
            <ul class="slider-pagi"></ul>
            <div class="slider">
                <div class="slide slide-0 active">
                    <!--div class="slide__bg" style="background-image: url({{ asset('front/img/slide1.jpg') }});"></div-->
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Seychelles</h2>
                            <p class="slide__text-desc">
                                Etiam porta sem malesuada magna mollis
                            </p>
                            <div class="slide__controls">
                                <a href="single.html" class="btn">Want a personal tour</a>
                                <a href="tour-list.html" class="btn btn__choose_tour">Choose tour</a>
                                <a class="arrow next"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-1 ">
                    <div class="slide__bg" style="background-image: url({{ asset('front/img/slide2.jpg') }});"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Kyoto, Japan</h2>
                            <p class="slide__text-desc">Etiam porta sem malesuada magna mollis</p>
                            <div class="slide__controls">
                                <a href="single.html" class="btn">Want a personal tour</a>
                                <a href="tour-list.html" class="btn btn__choose_tour">Choose tour</a>
                                <a class="arrow next"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-2">
                    <div class="slide__bg" style="background-image: url({{ asset('front/img/slide3.jpg') }});"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading">New Zealand</h2>
                            <p class="slide__text-desc">Etiam porta sem malesuada magna mollis</p>
                            <div class="slide__controls">
                                <a href="single.html" class="btn">Want a personal tour</a>
                                <a href="tour-list.html" class="btn btn__choose_tour">Choose tour</a>
                                <a class="arrow next"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-3">
                    <div class="slide__bg" style="background-image: url({{ asset('front/img/slide4.jpg') }});"></div>
                    <div class="slide__content">
                        <div class="slide__text">
                            <h2 class="slide__text-heading">The Great Outdoors</h2>
                            <p class="slide__text-desc">Etiam porta sem malesuada magna mollis</p>
                            <div class="slide__controls">
                                <a href="single.html" class="btn">Want a personal tour</a>
                                <a href="tour-list.html" class="btn btn__choose_tour">Choose tour</a>
                                <a class="arrow next"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="most_popular">
                <span>
                    The most popular destination this year - Thailand
                </span>
        </div>
        <div class="categories" id="header_categories">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="items">
                        <div class="scroll">
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap1.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Ski tours</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap2.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Excursion tours</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap3.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Shop tours</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap4.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>SPA tours</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap5.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Wedding tours</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap5.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Tours weekend</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap7.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Tours to islands</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap8.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Cruises</span></div>
                            </a>
                            <a href="single.html" class="categories_item">
                                <div class="icon">
                                    <div class="icon-wrap">
                                        <img src="{{ asset('front/img/nap9.jpg') }}" alt="" class="image-cover">
                                    </div>
                                </div>
                                <div class="_title"><span>Premium</span></div>
                            </a>
                        </div>

                    </div>
                    <div class="other_items" id="header_other_items">
                        <div class="categories_item item">
                            <div class="icon">
                                <div class="arrow"></div>
                            </div>
                            <div class="_title">
                                See more 4 directions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="most_popular__section mainpage-slider">
        <div class="wrap">
            <div class="wrap_float">
                <div class="top_part">
                    <div class="top_part_left">
                        <p class="section_subtitle">POPULARLY</p>
                        <h2 class="section_title">
                            Most popular <br> holiday destinations
                        </h2>
                    </div>
                    <div class="top_part_right">
                        <a href="tour-list.html" class="btn">
                            <span>View all tours</span>
                        </a>
                        <div class="controls" id="most_popular__arrows">
                            <div class="arrow prev"></div>
                            <div class="arrow next"></div>
                        </div>
                    </div>
                </div>
                <div class="most_popular__section__slider" id="most_popular__slider">
                    <a href="single.html" class="slider_item" style="background-image: url({{ asset('front/img/prevput1.jpg') }})">
                        <div class="slider_item__content">
                            <div class="rating">
                                <div class="stars">
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star"></div>
                                </div>
                                <div class="reviews_count">
                                    (2 Reviews)
                                </div>
                            </div>
                            <h3 class="title">
                                Autumn in Japan | $3,500 $3,880
                            </h3>
                            <p class="description">
                                6 excursions to the main cities of the country, admire the beautiful autumn gardens
                            </p>
                            <div class="days">
                                <span>7 days</span>
                            </div>
                        </div>
                    </a>

                    <a href="single.html" class="slider_item" style="background-image: url({{ asset('front/img/prevput2.jpg') }})">
                        <div class="slider_item__tags">
                            <div class="tag discount">20% off</div>
                        </div>
                        <div class="slider_item__content">
                            <h3 class="title">
                                A tour of the Islands | $3,500 $3,880
                            </h3>
                            <p class="description">
                                6 excursions to the main cities of the country, admire the beautiful autumn gardens
                            </p>
                            <div class="days">
                                <span>23 days</span>
                            </div>
                        </div>
                    </a>

                    <a href="single.html" class="slider_item" style="background-image: url({{ asset('front/img/prevput3.jpg') }})">
                        <div class="slider_item__tags">
                            <div class="tag discount">20% off</div>
                        </div>
                        <div class="slider_item__content">
                            <div class="rating">
                                <div class="stars">
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star"></div>
                                </div>
                                <div class="reviews_count">
                                    (2 Reviews)
                                </div>
                            </div>
                            <h3 class="title">
                                Seychelles | from $300
                            </h3>
                            <p class="description">
                                6 excursions to the main cities of the country, admire the beautiful autumn gardens
                            </p>
                            <div class="days">
                                <span>7 days</span>
                            </div>
                        </div>
                    </a>
                    <a href="single.html" class="slider_item" style="background-image: url({{ asset('front/img/prevput4.jpg') }})">
                        <div class="slider_item__tags">
                            <div class="tag discount">20% off</div>
                        </div>
                        <div class="slider_item__content">
                            <div class="rating">
                                <div class="stars">
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star"></div>
                                </div>
                                <div class="reviews_count">
                                    (2 Reviews)
                                </div>
                            </div>
                            <h3 class="title">
                                Autumn in Japan | $3,500 $3,880
                            </h3>
                            <p class="description">
                                6 excursions to the main cities of the country, admire the beautiful autumn gardens
                            </p>
                            <div class="days">
                                <span>7 days</span>
                            </div>
                        </div>
                    </a>
                    <a href="single.html" class="slider_item" style="background-image: url({{ asset('front/img/prevput5.jpg') }})">
                        <div class="slider_item__tags">
                            <div class="tag discount">20% off</div>
                            <div class="tag new">New</div>
                        </div>
                        <div class="slider_item__content">
                            <div class="rating">
                                <div class="stars">
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star active"></div>
                                    <div class="star"></div>
                                </div>
                                <div class="reviews_count">
                                    (2 Reviews)
                                </div>
                            </div>
                            <h3 class="title">
                                A tour of the Islands | $3,500 $3,880
                            </h3>
                            <p class="description">
                                6 excursions to the main cities of the country, admire the beautiful autumn gardens
                            </p>
                            <div class="days">
                                <span>7 days</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits">
        <div class="wrap">
            <div class="wrap_float">
                <div class="item">
                    <div class="item_img">
                        <img src="img/home3.jpg" alt="">
                    </div>
                    <div class="tc">
                        <h3 class="item_title">Any route</h3>
                        <p class="item_text">
                            We will help you to make any route for travel
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_img">
                        <img src="img/home1.jpg" alt="">
                    </div>
                    <div class="tc">
                        <h3 class="item_title">Your dream</h3>
                        <p class="item_text">
                            Your dreams of an unforgettable journey can come true with us
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_img">
                        <img src="img/home2.jpg" alt="">
                    </div>
                    <div class="tc">
                        <h3 class="item_title">Our guarantee</h3>
                        <p class="item_text">
                            We guarantee you an unforgettable journey and a lot of impressions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block body %} {% endblock %}
     <div class="discount_section" style="background-image: url({{ asset('front/img/home5.jpg') }})">
        <div class="wrap">
            <div class="wrap_float">
                <div class="section_content">
                    <div class="tag">SALE</div>
                    <h2 class="section_title">Discount <span class="discount_tag">20% off</span> </h2>
                    <p class="text">
                        Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    </p>
                    <div class="buttons">
                        <a href="tour-list.html" class="btn">See promotion tours</a>
                        <a href="tour-list.html" class="btn btn__choose_tour">Choose tour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog blog-section last-section" style="background-image: url({{ asset('front/img/home4.jpg') }});">
        <div class="wrap">
            <div class="wrap_float">
                <div class="top_part">
                    <div class="section_subtitle">
                        BLOG
                    </div>
                    <h2 class="section_title">
                        Travel articles
                    </h2>
                    <div class="section_description">
                        Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor
                    </div>
                </div>
                <div class="section_content">
                    <a href="blog-single.html" class="blog_item">
                        <div class="blog_item_img">
                            <img src="{{ asset('front/img/prevblog1.jpg') }}" alt="">
                        </div>
                        <div class="blog_item_date">
                            JUNE 6/2019 | UNCATEGORIZED
                        </div>
                        <h3 class="blog_item_title">
                            Pack wisely before traveling
                        </h3>
                        <p class="blog_item_text">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </p>
                    </a>
                    <a href="blog-single.html" class="blog_item">
                        <div class="blog_item_img">
                            <img src="{{ asset('front/img/prevblog2.jpg') }}" alt="">
                        </div>
                        <div class="blog_item_date">
                            JUNE 6/2019 | UNCATEGORIZED
                        </div>
                        <h3 class="blog_item_title">
                            Pack wisely before traveling
                        </h3>
                        <p class="blog_item_text">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </p>
                    </a>
                </div>
                <div class="show-more">
                    <a href="blog-list.html" class="btn">
                        <span>View all articles</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_top">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="footer_head_mobile">
                        <div class="logo">lavella</div>
                        <div class="text">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        </div>
                    </div>
                    <div class="footer_top_menu">
                        <ul>
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="tour-list.html">Tour List</a></li>
                            <li><a href="destinations.html">Destinations</a></li>
                            <li><a href="single.html">Date & Pricing</a></li>
                            <li><a href="blog-list.html">Blog</a></li>
                        </ul>
                    </div>
                    <div class="socials">
                        <a href="#" class="a facebook"></a>
                        <a href="#" class="a instagram"></a>
                        <a href="#" class="a pinterest"></a>
                        <a href="#" class="a twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_center">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="footer_center_left">
                        <a href="/" class="logo">lavella</a>
                        <div class="text">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        </div>
                    </div>
                    <div class="footer_center_menu">
                        <ul>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Family Friendly Tours</a></li>
                            <li><a href="#">Outdoor Activites</a></li>
                            <li><a href="#">Relaxation Tours</a></li>
                            <li><a href="#">City Tours</a></li>
                            <li><a href="#">Holiday & Seasonal Tours</a></li>
                            <li><a href="#">Cultural & Thematic Tours</a></li>
                            <li><a href="#">Wild & Adventure Tours</a></li>
                        </ul>
                    </div>
                    <div class="footer_center_right">
                        <div class="_title">CONTACTS</div>
                        <div class="text">
                            <p>Address: <b>12 Main Street Pt. London</b> </p>
                            <p>Phone: <a href="#">+1 1235 6789 10</a></p>
                            <p><a href="#">info@hellodigi.ru</a></p>
                        </div>
                    </div>
                    <div class="mobile_socials">
                        <a href="#" class="a facebook"></a>
                        <a href="#" class="a instagram"></a>
                        <a href="#" class="a pinterest"></a>
                        <a href="#" class="a twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            Copyright 2020 <a href="#">hellodigi.ru</a> | All Right Reserved
        </div>
    </div>
</div>

<div class="search_form" id="search_form">
    <div class="wrap">
        <div class="wrap_float">
            <input type="text" class="input" placeholder="Search...">
            <button type="submit" class="submit"></button>
            <div class="close"></div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay"></div>

<div style="display: none;">
    <div class="modal modal_book_now" id="book-now">
        <div class="modal_wrap">
            <div class="modal-head">
                <img src="{{ asset('front/img/vput2.jpg') }}" class="image-cover" alt="">
            </div>
            <div class="modal-body">
                <div class="tags">
                    <div class="tag discount">20% off</div>
                    <div class="tag new">New</div>
                </div>
                <div class="modal-title">
                    America, San Francisco | $3,500
                </div>
                <div class="fields">
                    <div class="field half">
                        <label class="label" for="name-2">Full Name*</label>
                        <div class="input_wrap">
                            <input type="text" class="input" id="name-2">
                        </div>
                    </div>
                    <div class="field half">
                        <label class="label" for="email-2">Email Address*</label>
                        <div class="input_wrap">
                            <input type="email" class="input" id="email-2">
                        </div>
                    </div>
                    <div class="field half">
                        <label class="label" for="date-2a">Travel Date*</label>
                        <div class="input_wrap calendar-field">
                            <input type="text" class="input js_calendar" id="date-2a">
                        </div>
                    </div>
                    <div class="field half">
                        <p class="label">Person*</p>
                        <div class="input_wrap">
                            <input type="text" class="input" id="date-2">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="enquiry-2">Your Enquiry*</label>
                        <div class="textarea_wrap">
                            <textarea class="textarea" id="enquiry-2"></textarea>
                        </div>
                    </div>
                </div>
                <button class="btn submit">Sumbit</button>
            </div>
        </div>
        <div class="modal_close"></div>
    </div>
</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_HERE&callback=initMap"></script>
<script defer src="{{ asset('front/js/jquery.min.js') }}"></script>
<script defer src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
<script defer src="{{ asset('front/js/slick.min.js') }}"></script>
<script defer src="{{ asset('front/js/jquery.arcticmodal.min.js') }}"></script>
<script defer src="{{ asset('front/js/lightgallery.js') }}"></script>
<script defer src="{{ asset('front/js/spincrement.min.js') }}"></script>
<script defer src="{{ asset('front/js/scripts.min.js') }}"></script>
</body>

</html>